@model List<Tile>
@using Microsoft.AspNetCore.Http;

@using PressYourLuck.Helpers;




<div class="container">
	@if ((bool)@ViewBag.showResalts == true)
	{
		<div class="row">
			<div class="col">
				@if ((bool)@ViewBag.busted == true)
				{
					<div class="alert alert-primary" role="alert">oh no! You busted out. Better luck next time! </div>
				}
				else
				{
					<div class="alert alert-primary" role="alert">CONGRATS! You found a @ViewBag.multiplierValue multiplier! All remaining values have doubled. Will you Press Your Luck?</div>
				}

			</div>
		</div>
	}

	<div class="row">
		<div class="col">
			<h4>Current Bet: &#36;@Context.Session.GetString("current-bet")</h4>
		</div>
		<div class="col-6">
		</div>
		<div class="col">
			@if ((bool)@ViewBag.busted == true)
			{
				<a asp-controller="Game" asp-action="TryAgainOrTakeout" asp-route-status="tryagain" type="button" class="btn btn-danger">TRY AGAIN!</a>
			}
			else
			{
				<a asp-controller="Game" asp-action="TryAgainOrTakeout" asp-route-status="takeout" type="button" class="btn btn-success">TAKE THE COINS!</a>
			}

		</div>

	</div>




	<div class="row">
		@for (int i = 0; i < Model.Count / 2; i++)
		{
			Tile tile = Model[i];

			<div class="col-sm " style=" border: 1px solid black; margin: 3px 20px 3px 20px; padding: 4px 0px 4px 0px;">
				@if (tile.Visible == false)
				{
					<img style=" width: 100%; height: 150px;" src="/images/unknown.png" class="card-img-top " alt="...">
				}
				else if (tile.Value == "0.00")
				{
					<img style="width: 100%; height: 150px; border: 1px solid black;" src=" /images/bust.png" class="card-img-top " alt="...">
				}
				else
				{
					<img style="width: 100%; height: 150px; border: 1px solid black;" src="/images/money.png" class="card-img-top " alt="...">
				}
				<div style="padding: 0 0 0 5px;">
					@if (tile.Visible == false)
					{
						<a style="padding: 0 0 0 5px;" asp-controller="Game" asp-action="PickTileUpdate" asp-route-id=" @i" type="button" class="btn btn-primary">CHOOSE</a>
					}
					else
					{

						<div style="padding: 0 0 0 5px;">@tile.Value</div>

					}
				</div>
			</div>

		}
	</div>



	<div class="row">
		@for (int i = Model.Count / 2; i < Model.Count; i++)
		{
			Tile tile = Model[i];

			<div class="col-sm" style=" border: 1px solid black; margin:  3px 20px 3px 20px; padding: 4px 0px 4px 0px;">
				@if (tile.Visible == false)
				{
					<img style="width: 100%; height: 150px;" src="/images/unknown.png" class="card-img-top " alt="...">
				}
				else if (tile.Value == "0.00")
				{
					<img style="width: 100%; height: 150px;" src="/images/bust.png" class="card-img-top " alt="...">
				}
				else
				{
					<img style="width: 100%; height: 150px;" src="/images/money.png" class="card-img-top " alt="...">
				}


				<div style="padding: 0 0 0 5px;">
					@if (tile.Visible == false)
					{

						<a asp-controller="Game" asp-action="PickTileUpdate" asp-route-id=" @i" type="button" class="btn btn-primary">CHOOSE</a>


					}
					else
					{
						<div style="padding: 0 0 0 5px;">@tile.Value</div>
					}

				</div>


			</div>

		}
	</div>
</div>
